<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>Sensor Data</h1>
        <div class="datetime">
            <p id="datetime"></p>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fas fa-thermometer-half"></i>
            </div>
            <div class="data">
                <h2>Temperature</h2>
                <p>{{ data['temp'] }} °C</p>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fas fa-tachometer-alt"></i>
            </div>
            <div class="data">
                <h2>Pressure</h2>
                <p>{{ data['pression'] }} hPa</p>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fas fa-water"></i>
            </div>
            <div class="data">
                <h2>Humidity</h2>
                <p>{{ data['humid'] }} %</p>
            </div>
        </div>
    </div>
    <script>
        function updateDateTime() {
            const now = new Date();
            const options = {
                weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',
                hour: '2-digit', minute: '2-digit', second: '2-digit'
            };
            const dateTimeString = now.toLocaleDateString('en-US', options);
            document.getElementById('datetime').textContent = dateTimeString;
        }
        setInterval(updateDateTime, 1000);
        updateDateTime();
    </script>
</body>
</html>
