body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.datetime {
    margin-bottom: 20px;
}

.datetime p {
    font-size: 1.2em;
    color: #777;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 20px;
    padding: 20px;
    width: 200px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #4caf50;
}

.data h2 {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.data p {
    font-size: 1.2em;
    color: #777;
}

.message-form {
    margin-top: 30px;
}

.message-form h2 {
    color: #333;
    margin-bottom: 10px;
}

.message-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-form input {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.message-form button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.message-form button:hover {
    background-color: #45a049;
}

.message-form p {
    margin-top: 10px;
    font-size: 1em;
}
